@import '../../../../../mixins';
@import '../../../../../variables';

.wrapper {
  width: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .logo {
    @include logo(200px);
    border: 2px solid white;
    padding: 4px 0;
    margin-bottom: 20px;
  }
  form {
    width: 100%;
    .control {
      width: 100%;
      padding: 15px 10px;
      margin-bottom: 12px;
      background-color: $color-bluegrey-light;
      input {
        width: 100%;
        background-color: transparent;
        font-size: 18px;
        border: 0;
        outline: 0;
        color: black;
      }
    }
  }
  button {
    @include button($color-primary);
    width: 100%;
  }
}
