<div class="container">
  <div class="wrapper">
    <div class="logo">
      <div>B</div>
      <div>M</div>
      <div>E</div>
    </div>
    <form [formGroup]="loginForm" (submit)="$event.preventDefault()">
      <div class="control">
        <input formControlName="email" type="text" placeholder="Email" />
      </div>
      <div class="control">
        <input formControlName="password" type="password" placeholder="Password" />
      </div>
      <button (click)="login()" [disabled]="!loginForm.valid || ($loading | async)" type="button">
        {{ 'Buttons.Login' | translate }}
      </button>
    </form>
  </div>
</div>
