@import '../../../variables';
@import '../../../mixins';

@media (max-width: 800px) {
  nav {
    width: 100% !important;
    font-size: 12px;
  }
}

nav {
  position: fixed;
  top: 0;
  background-color: $color-dark;
  height: $navbar-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid rgba($color: $color-primary, $alpha: 0.2);
  padding: 10px 20px;
  color: $color-secondary;
  width: calc(100% - 280px);

  button {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    color: $color-secondary;
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}
