@import '../../../../../variables';

.wrapper {
  padding-left: 280px;
  padding-top: $navbar-height;
  display: flex;
  flex-direction: column;
  transition: padding-left 0.4s ease-in;
  &.full {
    padding-left: 0;
    transition: padding-left 0.4s ease-in;
  }
}

/* We tell all items to be 100% width, via flex-basis */
