<div class="wrapper" [class.full]="isMobile">
  <app-sidebar></app-sidebar>
  <app-navbar></app-navbar>
  <app-content>
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </app-content>
</div>
