@import '../../../../../variables';
.topic {
  .page {
    margin-bottom: 50px;
    h2 {
      margin: 0;
      margin-bottom: 5px;
    }
  }
  .bookmarks {
    .list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 25px;
        .url {
          font-size: 11px;
          color: rgba($color: white, $alpha: 0.8);
        }
        .name {
          color: $color-primary;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
