<div *ngIf="(topic$ | async); let topic" class="topic">
  <div class="page">
    <h2>
      {{ topic.page.title }}
    </h2>
    <div class="muted">
      {{ 'Label.LastUpdate' | translate }}: {{ topic.page.date_created | date: 'fullDate' }}
    </div>
  </div>
  <div class="bookmarks">
    <ul class="list">
      <li *ngFor="let bookmark of topic.mbs">
        <div class="name">
          <a [routerLink]="['/page', topic.page.id, 'mbs', bookmark.id]">{{ bookmark.title }}</a>
        </div>
        <div class="url">{{ bookmark.self_url }}</div>
        <div class="muted">
          {{ 'Label.LastChange' | translate }}: {{ bookmark.date_changed | date: 'fullDate' }}
        </div>
        <div class="muted">{{ 'Label.Type' | translate }}: {{ bookmark.type }}</div>
      </li>
    </ul>
  </div>
</div>
