@import '../../../variables';

$color-base: rgba(white, 0.05);
$color-highlight: lighten($color-base, 7%);

.skeleton {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40px;
  background: transparent;

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 21px;
    background: linear-gradient(90deg, $color-base, $color-highlight, $color-base);
    animation: progress 1s ease-in-out infinite;
  }
}

@keyframes progress {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
