@import '../../../variables';
@import '../../../mixins';

.sidebar {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    font-size: 24px;
    border-bottom: 1.5px solid rgba($color: $color-primary, $alpha: 0.2);
  }
  .menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 10px;
        color: $color-primary;
        user-select: none;
        display: flex;
        justify-content: space-between;
        h3 {
          margin: 0;
          font-size: 16px;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
  &:not(.cover) {
    width: 0;
    transition: width 0.4s ease-in;

    &.open {
      width: 280px;
      transition: width 0.4s ease-out;
      border-right: 1.5px solid rgba($color: $color-primary, $alpha: 0.2);
    }
  }
  &.cover {
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-left: -280px;
    transition: margin 0.4s ease-in;
    &.open {
      margin-left: 0;
      transition: margin 0.4s ease-out;
    }
  }
}
