<div class="sidebar" [class.open]="!isMobile" [class.shrink]="isMobile">
  <div class="title">
    Bookmarks
  </div>
  <div class="menu">
    <div *ngIf="(loading$ | async); else list">
      <app-skeleton-placeholder></app-skeleton-placeholder>
      <app-skeleton-placeholder></app-skeleton-placeholder>
      <app-skeleton-placeholder></app-skeleton-placeholder>
    </div>
    <ng-template #list>
      <ul>
        <li (click)="selectTopic(topic)" *ngFor="let topic of (topics$ | async)">
          <h3>{{ topic.title }}</h3>
          <span>{{ topic.mbs.length }}</span>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
