@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  height: 100vh;
}

@mixin logo($width) {
  width: $width;
  display: flex;
  div {
    font-size: 30px;
    border-right: 2px solid white;
    flex-grow: 1;
    text-align: center;
    &:last-child {
      border-right: 0;
    }
  }
}

@mixin button($color) {
  padding: 15px 5px;
  border: 2px solid $color;
  color: $color;
  background-color: transparent;
  font-size: 18px;
  transition: background-color 450ms ease-in-out;
  transition: color 250ms;
  outline: 0;
  cursor: pointer;
  &not[disabled]:hover {
    background-color: $color;
    color: black;
  }
  &[disabled] {
    border-color: rgba($color: $color, $alpha: 0.33);
    color: rgba($color: $color, $alpha: 0.33);
  }
}
