@import '~@angular/material/theming';
@include mat-core();

$bme-primary: mat-palette($mat-indigo);
$bme-accent: mat-palette($mat-pink, A200, A100, A400);

$bme-warn: mat-palette($mat-red);

$bme-theme: mat-light-theme($bme-primary, $bme-accent, $bme-warn);

@include angular-material-theme($bme-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace !important;
}

a {
  color: $color-primary;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: $color-dark;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  @include flex(column, center, center);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.muted {
  font-size: 14px;
  color: rgba($color: white, $alpha: 0.45);
}
