<div *ngIf="(bookmark$ | async); let bookmark; else: loading" class="bookmark">
  <div class="header">
    <div class="title">{{ bookmark.title }}</div>
    <div class="muted">{{ bookmark.date_changed | date: 'fullDate' }}</div>
  </div>
  <div [ngSwitch]="bookmark.type" class="information">
    <div *ngSwitchCase="'image'" class="type-image">
      <picture>
        <img
          src="https://ksr-ugc.imgix.net/assets/013/374/662/31966434c919cbc08a423d71b00e9fa9_original.jpg?ixlib=rb-1.1.0&crop=faces&w=1552&h=873&fit=crop&v=1471217846&auto=format&frame=1&q=92&s=3dd85b65b8c4fa326fd11ee733595c40"
          alt=""
        />
      </picture>
    </div>
    <div *ngSwitchCase="'text'" class="type-text" [innerHTML]="bookmark.html"></div>
  </div>
</div>

<ng-template #loading>
  {{ 'Label.LoadingBookmark' | translate }}
</ng-template>
