@import '../../../../../variables';

.bookmark {
  .header {
    margin-bottom: 25px;
    .title {
      font-size: 28px;
      font-weight: 500;
      color: $color-primary;
    }
  }
  img {
    width: 100%;
  }
}
